<a href="https://colab.research.google.com/github/Pravallika-Myneni/Covid-vaccination-Progress/blob/main/Covid_vaccination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Covid world vaccination Progress 

**Goal :** 
Track COVID-19 vaccination in the World, answer instantly to your questions:

Which country is using what vaccine?

In which country the vaccination programme is more advanced?

Where are vaccinated more people per day? But in terms of percent from entire population ?

## Importing necesaary libraries and data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import plotly

In [ ]:
vaccine_data = pd.read_csv("https://raw.githubusercontent.com/Pravallika-Myneni/Covid-vaccination-Progress/main/country_vaccinations.csv")

The data contains the following information:

**Country** - this is the country for which the vaccination information is provided

**Country ISO Code** - ISO code for the country

**Date**- date for the data entry; for some of the dates we have only the daily vaccinations, for others, only the (cumulative) total

**Total number of vaccinations** - this is the absolute number of total immunizations in the country

**Total number of people vaccinated** - a person, depending on the immunization scheme, will receive one or more (typically 2) vaccines; at a certain moment, the number of vaccination might be larger than the number of people

**Total number of people fully vaccinated** - this is the number of people that received the entire set of immunization according to the immunization scheme (typically 2); at a certain moment in time, there might be a certain number of people that received one vaccine and another number (smaller) of people that received all vaccines in the scheme;

**Daily vaccinations** **(raw)** - for a certain data entry, the number of vaccination for that date/country

**Daily vaccinations** - for a certain data entry, the number of vaccination for that date/country;
Total vaccinations per hundred - ratio (in percent) between vaccination number and total population up to the date in the country;

**Total number of people vaccinated per hundred** - ratio (in percent) between population immunized and total population up to the date in the country;
Total number of people fully vaccinated per hundred - ratio (in percent) between population fully immunized and total population up to the date in the country;

**Number of vaccinations per day** - number of daily vaccination for that day and country;

**Daily vaccinations per million** - ratio (in ppm) between vaccination number and total population for the current date in the country;
**Vaccines used in the country **- total number of vaccines used in the country (up to date);
Source name - source of the information (national authority, international organization, local organization etc.);
Source website - website of the source of information;

## Initial Data Exploration

In [ ]:
vaccine_data.columns

Index(['country', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million',
       'vaccines', 'source_name', 'source_website'],
      dtype='object')

What to find? Variable - type - segment- Expectation- Conclusion- Comments

In [ ]:
vaccine_data.head()

   country  ...                                     source_website
0  Albania  ...  https://shendetesia.gov.al/vaksinimi-anticovid...
1  Albania  ...  https://shendetesia.gov.al/vaksinimi-anticovid...
2  Albania  ...  https://shendetesia.gov.al/vaksinimi-anticovid...
3  Albania  ...  https://shendetesia.gov.al/vaksinimi-anticovid...
4  Albania  ...  https://shendetesia.gov.al/vaksinimi-anticovid...

[5 rows x 15 columns]

In [ ]:
vaccine_data.shape

(2916, 15)

Exploring Country column

In [ ]:
len(set(vaccine_data.country))

85

There totally 85 countries in the data. We can assume that each country data is collected over a period of time.

To confirm let us now explore date column

In [ ]:
len(set(vaccine_data.date))

61

In [ ]:
vaccine_data['date'] = pd.to_datetime(vaccine_data['date'])

By manually observing we can conclude that the date is collected from 13-12-2020 to 11-02-2021

In [ ]:
print(sorted(list(set(vaccine_data.date))))

[Timestamp('2020-12-13 00:00:00'), Timestamp('2020-12-14 00:00:00'), Timestamp('2020-12-15 00:00:00'), Timestamp('2020-12-16 00:00:00'), Timestamp('2020-12-17 00:00:00'), Timestamp('2020-12-18 00:00:00'), Timestamp('2020-12-19 00:00:00'), Timestamp('2020-12-20 00:00:00'), Timestamp('2020-12-21 00:00:00'), Timestamp('2020-12-22 00:00:00'), Timestamp('2020-12-23 00:00:00'), Timestamp('2020-12-24 00:00:00'), Timestamp('2020-12-25 00:00:00'), Timestamp('2020-12-26 00:00:00'), Timestamp('2020-12-27 00:00:00'), Timestamp('2020-12-28 00:00:00'), Timestamp('2020-12-29 00:00:00'), Timestamp('2020-12-30 00:00:00'), Timestamp('2020-12-31 00:00:00'), Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-02 00:00:00'), Timestamp('2021-01-03 00:00:00'), Timestamp('2021-01-04 00:00:00'), Timestamp('2021-01-05 00:00:00'), Timestamp('2021-01-06 00:00:00'), Timestamp('2021-01-07 00:00:00'), Timestamp('2021-01-08 00:00:00'), Timestamp('2021-01-09 00:00:00'), Timestamp('2021-01-10 00:00:00'), Timestamp('2021-01-11 00:00:00'), Timestamp('2021-01-12 00:00:00'), Timestamp('2021-01-13 00:00:00'), Timestamp('2021-01-14 00:00:00'), Timestamp('2021-01-15 00:00:00'), Timestamp('2021-01-16 00:00:00'), Timestamp('2021-01-17 00:00:00'), Timestamp('2021-01-18 00:00:00'), Timestamp('2021-01-19 00:00:00'), Timestamp('2021-01-20 00:00:00'), Timestamp('2021-01-21 00:00:00'), Timestamp('2021-01-22 00:00:00'), Timestamp('2021-01-23 00:00:00'), Timestamp('2021-01-24 00:00:00'), Timestamp('2021-01-25 00:00:00'), Timestamp('2021-01-26 00:00:00'), Timestamp('2021-01-27 00:00:00'), Timestamp('2021-01-28 00:00:00'), Timestamp('2021-01-29 00:00:00'), Timestamp('2021-01-30 00:00:00'), Timestamp('2021-01-31 00:00:00'), Timestamp('2021-02-01 00:00:00'), Timestamp('2021-02-02 00:00:00'), Timestamp('2021-02-03 00:00:00'), Timestamp('2021-02-04 00:00:00'), Timestamp('2021-02-05 00:00:00'), Timestamp('2021-02-06 00:00:00'), Timestamp('2021-02-07 00:00:00'), Timestamp('2021-02-08 00:00:00'), Timestamp('2021-02-09 00:00:00'), Timestamp('2021-02-10 00:00:00'), Timestamp('2021-02-11 00:00:00')]

let us drop the columns regarding the source for now

In [ ]:
vaccine_data_s1 = vaccine_data.drop(['source_name','source_website'],axis=1)

Exploring the rest of columns

In [ ]:
set(vaccine_data_s1.vaccines)

{'Covaxin, Oxford/AstraZeneca',
 'Moderna, Oxford/AstraZeneca, Pfizer/BioNTech',
 'Moderna, Pfizer/BioNTech',
 'Oxford/AstraZeneca',
 'Oxford/AstraZeneca, Pfizer/BioNTech',
 'Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinopharm/Wuhan, Sputnik V',
 'Oxford/AstraZeneca, Sinopharm/Beijing',
 'Oxford/AstraZeneca, Sinovac',
 'Pfizer/BioNTech',
 'Pfizer/BioNTech, Sinopharm/Beijing',
 'Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V',
 'Pfizer/BioNTech, Sinovac',
 'Sinopharm/Beijing',
 'Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac',
 'Sinovac',
 'Sputnik V'}

If we observe the vaccines column there are more than one values in each cell
## **Let us figure it out in next steps how to do that**

In [ ]:
vaccine_data_s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916 entries, 0 to 2915
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              2916 non-null   object
 1   iso_code                             2676 non-null   object
 2   date                                 2916 non-null   datetime64[ns]
 3   total_vaccinations                   1868 non-null   float64
 4   people_vaccinated                    1530 non-null   float64
 5   people_fully_vaccinated              938 non-null    float64
 6   daily_vaccinations_raw               1539 non-null   float64
 7   daily_vaccinations                   2801 non-null   float64
 8   total_vaccinations_per_hundred       1868 non-null   float64
 9   people_vaccinated_per_hundred        1530 non-null   float64
 10  people_fully_vaccinated_per_hundred  938 non-null    float64
 11  daily_vaccinations_per_million       2801 non-null   float64
 12  vaccines                             2916 non-null   object
dtypes: datetime64[ns](1), float64(9), object(3)
memory usage: 296.3+ KB

Dropping iso_code column

In [ ]:
vaccine_data_s1 = vaccine_data_s1.drop(['iso_code'],axis=1)

As date column in shown as type object convert it into date type

In [ ]:
vaccine_data_s1.head()

   country       date  ...  daily_vaccinations_per_million         vaccines
0  Albania 2021-01-10  ...                             NaN  Pfizer/BioNTech
1  Albania 2021-01-11  ...                            22.0  Pfizer/BioNTech
2  Albania 2021-01-12  ...                            22.0  Pfizer/BioNTech
3  Albania 2021-01-13  ...                            22.0  Pfizer/BioNTech
4  Albania 2021-01-14  ...                            23.0  Pfizer/BioNTech

[5 rows x 12 columns]

## Descriptive statistics of columns

In [ ]:
vaccine_data_s1.describe()

       total_vaccinations  ...  daily_vaccinations_per_million
count        1.868000e+03  ...                     2801.000000
mean         1.252920e+06  ...                     2024.456266
std          4.149778e+06  ...                     3562.163229
min          0.000000e+00  ...                        0.000000
25%          2.549250e+04  ...                      342.000000
50%          1.538300e+05  ...                      925.000000
75%          6.532502e+05  ...                     1699.000000
max          4.639027e+07  ...                    30869.000000

[8 rows x 9 columns]

Exploring other columns one by one

## country

In [ ]:
len(set(vaccine_data_s1.country))

#consider countries with enough data only

85

Grouping rows by country

In [41]:
vaccine_data_grouped = vaccine_data_s1.groupby('country').count()
vaccine_data_grouped = vaccine_data_grouped.sort_values(by='date',ascending=False)
vaccine_data_grouped = vaccine_data_grouped.reset_index()
#set(vaccine_data_grouped.date)

A lot of values seem to be missing. 
After exploring the data manually, it appears that there are many countries with incomplete data.
Let us focus on the countries that have complete data. 
To do this, we drop the rows with incomplete data.

In [46]:
countries_list = vaccine_data_grouped[vaccine_data_grouped.date>=55].country
print(countries_list)

0               Wales
1      United Kingdom
2            Scotland
3             England
4    Northern Ireland
5              Russia
6               China
7              Israel
Name: country, dtype: object

current idea clean data, statistics in each country, compare progress